.userInfo {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

@media (max-width: 480px) {
    .userInfo {
        flex-basis: 100%;
        width: 100%;
    }
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tabs {
    display: flex;
    gap: 20px;
}
