.userInfo {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tabs {
    display: flex;
    gap: 20px
}