.author {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}

.authorName {
    margin: 0;
}

.header {
    padding-bottom: 10px;
}

.date {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding: 0;
}

.reviewContainer {
    padding: 30px;

}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.likes {
    display: flex;
    gap: 2px;
    align-items: center;
}