.author {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}

.fullName {
    display: flex;
    gap: 5px
}

.authorName {
    margin: 0;
}

.title {
    padding-bottom: 10px;
    font-weight: bold;
}


.reviewContainer {
    padding: 30px;

}

.rating {
    display: flex;
    gap: 5px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.likes {
    display: flex;
    gap: 2px;
    align-items: center;
}