.chat {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
    overflow: auto;


}

.chatbotQuestion {
    width: fit-content;
    padding: 8px 16px;
    margin-bottom: 10px;

}

.input {
    margin-bottom: 20px;
    width: 100%;
}



.chatbotQuestion {
    border: 1px solid #333;
}

.choices {
    display: flex;
    gap: 10px;
}

.conversation {

    margin-bottom: 100px;
    height: inherit;


}

.answer {
    float: right;
    background-color: #1976d2;
    padding: 8px 16px;

}

.userMessage {
    float: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}