.chat {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
    overflow: auto;


}


.input {
    margin-bottom: 20px;
    width: 100%;
}







.container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}