.searchContainer {
    /* display: flex;
    justify-content: space-between; */
    padding-top: 50px;
    padding-bottom: 10px;
}

.searchButton {
    width: 100px;
    height: 50px;
}

.filterForm {
    display: flex;
    align-items: center;
}

.filterInput {
    height: 50px;
    margin-left: 10px;
}

.searchResultContainer {
    padding-top: 5px;
    margin-bottom: 15px;
}

.searchResult {
    background-color: white;
    min-height: 700px;
}

img {
    width: 200px;
    height: 200px;
}
