.searchResultElement {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;


}

.resultType {
    display: flex;
    gap: 3px;


}

.availableReviews {
    display: flex;
    gap: 3px;
    padding-top: 5px;

}

.availableReviews:hover {
    text-decoration: underline;
}

.rightSide {

    padding: 20px;
}

.title {
    padding-bottom: 20px;
}

.title:hover {
    text-decoration: underline;

}