.item {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-right: 25px;
    padding-bottom: 10px;


}

.image {
    width: 280px;
    height: 300px;

}

.item:hover {
    opacity: 0.7;
}