.searchContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;




}

.searchButton {
    width: 100px;
    height: 50px;

}





.searchResultContainer {
    background-color: #F0F0F0;



}

.searchResult {
    background-color: white;


}

.searchResultElement {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

}

img {
    width: 200px;
    height: 200px;
}