.restaurantContent {
    text-align: left;
    font-size: larger;
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
}

.item:hover {
    text-decoration: underline;
}

.container {
    position: relative;
}

.availableReviews {
    display: flex;
    gap: 3px;
}

.item {
    position: relative;


}