.location,
.activity {
    display: block;
    padding-left: 20px;
}

.locations,
.activities {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.location-name,
.activity-name {
    font-weight: bolder;
}

.dashboard-container {
    width: 60%;
    margin: auto;

}

.location-activities,
.activity-reviews {
    font-weight: light;
    font-size: smaller
}