.location,
.activity {
    display: block;

}

.locations,
.activities {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.locationName,
.activityName {
    font-weight: bolder;
}

.dashboardContainer {

    margin: auto;

}

.locationActivities,
.activityReviews {
    font-weight: light;
    font-size: smaller
}

.pageContainer {
    width: 60%;
    margin: auto;
}

.slogan {
    font-family: 'Times New Roman', Times, serif;
}