.location,
.activity {
    display: block;

}

.locations,
.activities {
    display: flex;
    text-align: center;
    justify-content: space-between;
}



.dashboardContainer {

    margin: auto;

}