nav {
    border-bottom: 1px solid;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.rightSide {
    display: flex;

}

.rightSide div {
    padding-left: 20px;
}

.logo {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}