nav {
    border-bottom: 1px solid;
}

.navbarContainer {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 20px;
    font-size: x-large;
    justify-content: space-between;

}

.rightSide {
    display: flex;

}

.rightSide div {
    padding-left: 20px;
}

.logo {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}