.search-bar {
    width: 60%;
    border-radius: 30px;
    text-align: center;
    font-size: x-large;
    height: 50px;
    margin: auto;
    border: 0px;

}

.search-container {
    display: flex;
    font-size: x-large;
    align-items: center;
    /* padding-left: 30%; */
    padding-top: 15%;

}

.search-icon {
    position: absolute;
    /* margin: auto; */
    padding-left: 13%;

}

.search {
    text-align: center;
    background-image: url('../../images/b8659390962c300177d0c594fc89a300.jpg');
    margin: auto;
    height: 400px;
}

.search-result {
    background-color: white;

    display: block;

    text-align: left;
    box-shadow: 5px 5px 20px black;
    font-size: larger;
    max-height: 400px;
    position: absolute;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.result-element {
    padding: 10px;




}

.result-element:hover {
    text-decoration: underline;
    opacity: 0.5;

}

a {
    color: black;
    text-decoration: none;

}